<form method="post" action="{{ path('app_profile_delete') }}" onsubmit="return confirm('Are you sure you want to delete your user?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn">Delete</button>
</form>
