
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/public/images/profile_photos/*
!/public/images/profile_photos/default_profile_photo.PNG
###< symfony/framework-bundle ###
