{% extends 'base.html.twig' %}

{% block title %}Sobre el Proyecto{% endblock %}

{% block body %}

    <h1>Sobre el Proyecto</h1>

    <p>¿De qué trata el proyecto? ¿Cuáles son sus objetivos? ¿Qué ofrece? ¿Quiénes forman parte? ¿Qué lo hace diferente?</p>
    <p><a href="{{ path('app_index') }}">Volver a la Página de Inicio</a><p>

{% endblock %}
