{% extends 'base.html.twig' %}

{% block title %}Términos de uso{% endblock %}

{% block body %}

    <h1>Política de privacidad</h1>
    <ul>
        <li>¿Quién es el responsable del tratamiento de datos?</li>
        <li>¿Con qué finalidades tratamos tus datos?</li>
        <li>¿Qué datos personales tratamos?</li>
        <li>¿Qué hacemos para proteger los datos?</li>
        <li>¿Qué derechos puedes ajercer sobre tus datos?</li>
    </ul>

    <h1>Aviso legal</h1>
    <p>...<p>

{% endblock %}
